@font-face {
  font-family: Lineto;
  src: url(/static/fonts/lineto-circular-pro-book.ttf);
}

@font-face {
  font-family: Lineto-Med; 
  src: url(/static/fonts/lineto-circular-pro-medium.ttf);
}

body {
  /* background-color:lightgrey;  */
  background: linear-gradient(90deg, #223a7a 0%, #6ce083 90%);
  background-size: 400% 400%;
  -webkit-animation: gradient_move 30s ease infinite;
  -moz-animation: gradient_move 30s ease infinite;
  animation: gradient_move 30s ease infinite;
  font-family:Lineto; 
  font-size: 20px; 
  color:white; 
}

@-webkit-keyframes gradient_move {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes gradient_move {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes gradient_move {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

input, button {
  font-family:inherit;
  font-size:inherit; 
}

h1{
  text-align:center;
  font-size:4.5em;  
  color:white; 
  font-family: Lineto-Med;
  margin-bottom:0; 
}
#description {
  font-size: 18px; 
}

#all_content {
  width:100%; 
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.comment-bar {
  padding: 10px;
  padding-top:50px; 
}

div {
  margin: auto;
  text-align:center; 
}

#error_label {
  color:red; 
}

div .song_display {
  text-align:left; 
}

.song_artists {
  color: grey; 
}

.song_info {
  text-align: left;
  vertical-align: top;
  display:inline-block;
}

#stuck {
  cursor: pointer;
  text-decoration: underline;
}

.example_input {
  cursor: pointer;
  text-decoration: underline;
}

#stuck_popup {
  display: none;
  position: absolute;
  display: inline-block;
}

#stuck_popup_contents {
  text-align: left;
  position: relative;
  left: 20px;
  border: 1px solid black;
  padding: 30px;
  background: rgba(0,0,0,0.1);
  box-shadow: 5px 5px 3px #888888;
}

#loading {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#footer {
  font-size:12px;
  position:fixed; 
  left: 0;
  bottom: 5;
  width: 100%;
}