.comment-bar {
  padding: 10px;
}

#input_list {
  padding-left: 10px;
}

p {
  margin: 0px;
  padding: 0px;
}

#output_text {
  padding-left: 600px;
}

#output_list {
  padding-left: 610px;
}

div {
  margin: auto;
  text-align:center; 
}