<html>

<head>
    <link rel="stylesheet" href="/static/index-main.css">
    <link href="/static/fontawesome/css/all.css" rel="stylesheet">
</head>

<body>
    <div class="nav stroke">
        <ul>
            <li><span><a href="/" id="main"><i class="fab fa-spotify" style="padding-right:8px"></i>party playlist
                        mixer</a></span></li>
            <li><span><a href="/">home</a></span></li>
            <li><span><a href="/about">about</a></span></li>
            <li><span class="noclick">|</span></li>
            <li><span><a href="https://playlist-mixer-p1.herokuapp.com/">prototype 1</a></span></li>
        </ul>
    </div>

    <div id="container">
        <div id="about">
            Our goal is to provide a personalized party playlist to a group of people based on
            their personal playlists. This app allows users to link their Spotify playlists to produce one
            playlist for everyone based on their music preferences. Our target audience is people who listen
            to music and want an easy way to create a playlist that fits everyone's taste of music. The data would be
            the set of playlists retrieved from Spotify and sets of
            comments from Reddit pages about different songs. Our system searches for songs in common with other users
            from our scraped playlists as well as new songs recommended for everyone after analyzing similarities
            between Reddit user comments on the song pages.
        </div>
    </div>
    <div id="footer">
        Created by: Katelin Chan (ktc33), Salil Jajodia (sj463), Ryan Pappa (rjp286), Ryan Vaccariello (rmv45), Keely
        Wan
        (kw443)
    </div>
</body>

</html>