<!-- https://dev.to/aspittel/a-complete-beginners-guide-to-vue-422n -->
<!-- source used for setup help -->

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/index-main.css">
  <link href="/static/fontawesome/css/all.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script> -->
  <title>Party Playlist!</title>
</head>

<html>

<body>
  <div id="app">
    <div v-if="!loading" id="container">
      <!-- <div id="home" v-on:click="show_home=true"><i class="fas fa-home" style="padding-right:5px"></i>home</div> -->
      <div class="nav stroke">
        <ul>
          <li><span><a href="/" id="main"><i class="fab fa-spotify" style="padding-right:8px"></i>party playlist
                mixer</a></span></li>
          <li><span><a href="/">home</a></span></li>
          <li><span><a href="/about">about</a></span></li>
        </ul>
      </div>

      <!-- First Flex Box -->
      <div v-if="show_home">
        <img src="/static/img/icon.png" height="auto" width="125px">
        <h1>party playlist mixer</h1>
        <span id="description">add links to Spotify playlists (one-by-one) below then click Go! to get a new
          playlist</span>
        <div class="comment-bar">
          <!-- <textarea cols="100">Enter input here.</textarea> -->
          <input id="input_text" type="text" v-bind:size="stuckPopup ? 50 : 75" placeholder="Add Your Playlists."
            v-model="input">
          <button type="button" v-on:click="addInput" class="btn add_btn"><i class="fas fa-plus"></i></button>
          <span id="stuck" v-on:click="stuckPopup = !stuckPopup" v-cloak>Stuck?</span>

          <div id="stuck_popup" v-if="stuckPopup" v-cloak>
            <div id="stuck_popup_contents" v-cloak>
              Try these example playlists!
              <ul>
                <li v-for="example in examples" v-on:click="setExample(example)" class="example_input">
                  {{example.name}}
                </li>
              </ul>
            </div>
          </div>
        </div>

        <span id="error_label" v-if="error_message" v-cloak>{{ error_message }}<br></span>

        <span v-if="Object.keys(inputSet).length > 0" v-cloak>Your Playlists: </span>
        <div style="max-width:75%" id="playlist_container" v-cloak>
          <div v-for="(val, input_key) in inputSet" :key=input_key v-cloak>
            <span>{{ val }}
              <button id="`+ new_input + `" v-on:click="removeRow(input_key)" class="btn del_btn"><i
                  class="fas fa-times"></i></button>
            </span>
          </div>
        </div><br>
        <button type="button" class="btn go_btn" v-on:click="output">Go!</button><br>
      </div>

      <!-- Second Flex Box -->
      <div id="output_container" v-if="!show_home" v-cloak>
        <label v-if="outputs.length">Outputs:</label>
        <div style="overflow:auto; max-height:95%">
          <div class="song_display" v-for="item in outputs" v-if="item && item.name"
            v-on:click="show_modal=true;cur_item=item">
            <img v-bind:src="image(item)" />
            <div class="song_info">
              <span>{{ item.name }}</span><br />
              <span class="song_artists">{{ item.artists && item.artists.join(', ') || 'Unknown Artist'}} </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="loading" v-if="loading" v-cloak>
      {{ display_lyric.lyric }} <br>
      -- {{ display_lyric.artist }} <br>
      <img src="/static/img/music.gif" width="20%" height="auto">
    </div>
    <!-- Modal Popup for displaying song information -->
    <transition name="fade">
      <div class="modal" id="modal" v-if="show_modal">
        <div class="modal-body">
          <div class="modal-content" id="modal-content">
            <div v-on:click="show_modal=false" class="close_btn"> <i class="fas fa-times"></i></div>
            <div class="modal-header">Heading</div>
            <div class="modal-desc">
              <div style="text-align:left;max-height:100%;overflow:auto">
                {{ cur_item }}

              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>

    <div id="footer">
      Created by: Katelin Chan (ktc33), Salil Jajodia (sj463), Ryan Pappa (rjp286), Ryan Vaccariello (rmv45), Keely Wan
      (kw443)
    </div>
  </div>
  <script src="/static/index.js"></script>
</body>

</html>