<!-- https://dev.to/aspittel/a-complete-beginners-guide-to-vue-422n -->
<!-- source used for setup help -->

<head>
  <link rel="stylesheet" href="/static/index-main.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script> -->
</head>

<html>

<body>
  <!-- <h1>Party Playlist App</h1> -->
  <h1 align="center" style="font-size: 55px; font-family:Futura; color: #1DB954">
    Party
    <span style="color: black;">Playlist</span>
    <span style="color: #1DB954;"> App</span>
  </h1>
  <div id="app">{{input}}
    <div class="comment-bar">
      <!-- <textarea cols="100">Enter input here.</textarea> -->
      <input id="input_text" type="text" size="75" placeholder="Add to Your Playlists.">
      <button type="button" onclick="addInput()">+</button>
    </div>
    Your Playlists:
    <p id="input_list"></p>
    <br>
  </div>
  <div> <button type="button" style="background-color: green;color: white;" onclick="output()">Go!</button></div>
  <div id="output_label"></div>
  <div style="overflow:auto; max-height:300px"><label id="response"></label></div>
  <script src="/static/index.js"></script>
</body>

</html>